<div class="row w-25">
    <form action="{% url 'league' %}">
        <div class="form-group my-5">
            <h4>Enter a League ID </h4>
            <div class="input-group">
                <input type="text" class="form-control" name="league_id" placeholder="League ID" aria-label="League ID" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>