<div class="row w-25">
    <form action="{% url 'team' %}">
        <div class="form-group my-5">
            <h4>Enter a Team ID </h4>
            <div class="input-group">
                <input type="text" class="form-control" name="team_id" placeholder="Team ID" aria-label="Team ID" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>